/* Container */
@media (min-width: 1315px) {
    .container { max-width: 1167px; }
    .sub-menu { position: absolute; top: 100%; background-color: #ffffffe8;box-shadow: 0 5px 8px rgba(0,0,0,.2); transform: translateY(-10px); opacity: 0; visibility: hidden; transition: all .3s linear; }
        .sub-menu li a { font-size: 13px; font-weight: 400; white-space:nowrap; padding: 12px 20px; height: auto; margin: 0; border: initial; display: block; transition: 0s; }
            .sub-menu li a:hover { background-color: #c5161d; color: #ffffff; }
    .hd-menu li:hover .sub-menu { transform: translate(0); opacity: 1; visibility: visible }
}

@media (max-width: 1315px) {
    .idtqtk-img { width: 55px; }
        .idtqtk-img img { object-fit: contain; }
    header { padding: 10px 25px; position: initial; }
    .hd-menu { display: block; background: #fff; z-index: 101; position: fixed; top: 0; bottom: 0; left: 0; width: 250px; overflow: auto; padding: 20px 0; padding-top: 5px; transition: 0.4s linear; opacity: 0; visibility: hidden; transform: translateX(-100%); }
        .hd-menu.active { opacity: 1; visibility: visible; transform: translateY(0); }
        .hd-menu a,
        .hd-menu a.tq,
        .hd-menu a.lg,
        .hd-menu a.active { height: 35px; display: inline-block; margin-right: 0; text-align: center; border: 0; }
            .hd-menu a.lg { height: initial; margin-bottom: 10px; padding-top: 10px; }
                .hd-menu a.lg img { height: 40px; }
    .hd-bg { z-index: 100; display: block; opacity: 0; visibility: hidden; width: 100%; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: #000000a6; transition: 0.2s linear; }
        .hd-bg.active { opacity: 1; visibility: visible; }
    .hd-bottom .hd-btn { display: block; width: 30px; height: 18px; position: absolute; top: calc(50% - 9px); right: 0; cursor: pointer; }
    .hd-btn::before,
    .hd-btn span,
    .hd-btn::after { z-index: 101; display: block; width: 100%; height: 2px; position: absolute; top: calc(50% - 1px); content: ""; background: #c5161d; transition: 0.2s linear; }
    .hd-btn::before { top: 0; }
    .hd-btn::after { top: unset; bottom: 0; }
    .hd-btn.active span { display: none; }
    .hd-btn.active::before,
    .hd-btn.active::after { top: calc(50% - 1px); bottom: initial; transform: rotate(135deg); }
    .hd-btn.active::after { transform: rotate(45deg); }
    .hd-right .hd-timkiem { top: calc(100% + 1px); z-index: 1; display: none; width: calc(100% + 30px); left: -15px; border-radius: 3px; border: initial; box-shadow: 0 10px 10px rgba(0,0,0,.2); padding: 5px 15px; position: absolute; z-index: 999; }
    .hd-timkiem input { width: 100%; }
    .hd-menu li { position: relative; text-align: center; }
    .hd-menu > li > i.up { transform: rotate(180deg) }
    .sub-menu { display: none; background-color: #e9ecef; padding: 10px 0; }
        .sub-menu li a { /* text-transform: initial; */ font-family: 'R'; height: auto; padding: 8px 0; }
    header.fixed { position: fixed; padding-top: 10px }
    .hd-thamquan { display: none; }
    .hd-top { margin-bottom: 5px }
    .hd-tk { display: block; }
    .hd-timkiem { background-color: #fff; }
    .hidden-md { display: block; position: absolute; top: 3px; right: 10px }
    .gt-tab.fixed { top: 60px }
    .idvct-intro { display: block; overflow: hidden }
        .idvct-intro .idvct-title { width: 35%; float: left }
    .idvct-content { width: 60%; float: right }
}
/* Menu */
@media (max-width: 1120px) {
    .idvct-intro { margin-bottom: 0; }
    .idvct-content { padding-left: 30px; }
        .idvct-content p { margin-bottom: 20px; }
    .idvct-slit { height: 400px; }
        .idvct-slit.active + .idvct-slit .idvct-it { transform: initial; }
        .idvct-slit.active + .idvct-slit::before { background-color: transparent; }
    .gttab { white-space: nowrap; overflow-x: auto; }
        .gttab::-webkit-scrollbar { display: none; }
        .gttab a { margin-right: 20px; white-space: nowrap; }
    .gtgtcl-dt { display: grid; grid-template-columns: repeat(2, 1fr); text-align: center; gap: 50px; }
    .gtgtcl-it { display: inline-flex; margin: 0 auto; padding-top: 0; }
}
/* iPad Pro */
@media (max-width: 1024px) {
    .page { display: block; margin-bottom: 10px; }
        .page li { display: inline-block }
    .tdct-right h4 { font-size: 14px; }
    .chnn-frm form { grid-template-columns: 45% 20% 20% 15%; }
    .chnn-tbhd, .chnn-it { grid-template-columns: 5% 35% 25% 15% 20%; }
    .ttdssk-time p { font-size: 9px; }
    .ttdssk-dt p { font-size: 12px; }
    .ttdssk-time, .ttdssk-dt { padding: 15px 5px; }
    .ttdssk-title .defTxt2, .ttdsnb-title .defTxt2 { font-size: 22px; }
    .ttdssk-view a { font-size: 14px; }
    .ttdsit-txt { padding: 25px 15px 30px; }
    .gttnsm-dt { gap: 50px; }
    .duan-frm label { font-size: 18px; }
    .duan-frm input { width: 350px; }
    .thuvien-list { grid-template-columns: repeat(2, 1fr); }
    .da-tin-list .navi a { top: 150px; }
    .doitac-list { grid-template-columns: repeat(4, 1fr); }
    .defTxt span { font-size: 35px; }
    .navi a, .id-tq .navi a.prev { left: -40px; }
        .navi a.next, .id-tq .navi a.next { right: -40px; }
    .idtt-it { display: block; }
    .idtt-txt p { -webkit-line-clamp: 2; height: 48px; }
    .idtt-list { display: block; overflow: hidden; margin: 0 -10px }
        .idtt-list .idtt-it { width: calc(50% - 20px); margin: 10px; float: left }
}
/* iPad */
@media (max-width: 991px) {
    #aniimated-thumbnials a { width: calc(50% - 20px) }
    .ttdssk-dt p { text-align: left; }
    .ft-frm input { width: 200px }
    .tuyendung-ct.defCl { padding: 15px 0 }
    .tdct-left { width: calc(70% - 20px); }
    .tdct-right { width: 30%; }
    .tdct-btn a { padding: 5px 20px; }
    .chnn-frm form { grid-template-columns: 40% 20% 20% 20%; }
    .chnn-tbhd, .chnn-it { grid-template-columns: 10% 25% 20% 20% 25%; }
    .tdsn-list { gap: 30px; }
    .tdsn-txt h3 { font-size: 16px; }
    .cttt-title h1,
    .tdct-title h1 { font-size: 20px; }
    .ttdsit-list.tt2 .ttdsit-it:nth-of-type(1) { grid-column: 1/2; display: block; }
        .ttdsit-list.tt2 .ttdsit-it:nth-of-type(1) .ttdsit-txt p { -webkit-line-clamp: 2; }
        .ttdsit-list.tt2 .ttdsit-it:nth-of-type(1) img { height: 200px; }
    .ttdsit-list { grid-template-columns: repeat(2, 1fr); }
    .thamquan-tab { white-space: nowrap; overflow-x: auto; }
    .quanhe .thamquan-tab { justify-content: space-between; }
    .thamquan-tab::-webkit-scrollbar { display: none; }
    .thamquan-tab a { white-space: nowrap; }
        .thamquan-tab a:hover { background-color: #e0e0e0; color: #000000; }
    .lienhe-it { padding: 20px 5px; }
        .lienhe-it p { font-size: 14px; }
    .lh-frm-title h4 { font-size: 24px; }
    .lh-frm-title p { font-size: 14px; }
    .gtgtc-dt { display: block; }
    .gtgtc-img { margin-bottom: 30px; }
    .defCl.gtCl { padding-bottom: 50px; }
    .gtct-img .pimg { height: 300px; width: 300px; margin-bottom: 0px; }
    .gtct .gtgtc-txt::before { display: none; }
    .gtgtc-txt p { margin-bottom: 10px; }
    .gtct .gtgtc-txt::after { bottom: -20px; }
    .gttnsm-dt { grid-template-columns: repeat(2, 1fr); text-align: center; }
        .gttnsm-dt p { text-align: center; }
    .dand-title h1 { font-size: 24px; margin-bottom: 15px; }
    .dand-tab { margin-bottom: 50px; }
        .dand-tab a { font-size: 14px; }
    .dand-it h2 { font-size: 25px; top: -15px; }
    .dand-it { padding: 35px 20px 30px; }
    .da1-grid { display: block; }
    .da1-img { margin-bottom: 15px; }
    .duan-frm label { font-size: 14px; }
    .duan-frm input { width: 200px; }
    .thuvien-list { gap: 25px; }
    .duan .thuvien-it h3 { font-size: 14px; }
    .doitac-list { grid-template-columns: repeat(3, 1fr); }
    .defTxt span { font-size: 30px; }
    .idvct-intro { display: block; margin-bottom: 20px; }
    .idvct-title { margin-bottom: 50px; }
    .idvct-content { padding-left: 0; }
    .idvct-slit { height: initial; }
        .idvct-slit.active + .idvct-slit .idvct-it { background-color: rgb(233, 233, 233); }
            .idvct-slit.active + .idvct-slit .idvct-it .inactive { display: inline-block; }
            .idvct-slit.active + .idvct-slit .idvct-it .active { display: none; }
            .idvct-slit.active + .idvct-slit .idvct-it h3, .idvct-slit.active + .idvct-slit .idvct-it p, .idvct-slit.active + .idvct-slit .idvct-it .idvct-it-txt > a,.idvct-slit.active + .idvct-slit .idvct-it h3, .idvct-slit.active + .idvct-slit .idvct-it p, .idvct-slit.active + .idvct-slit .idvct-it a { color: #000000; border-color: #000000; }
    .iddatb-detail h3 a { font-size: 18px; }
    .iddatb-detail p { font-size: 14px; }
    .iddt-it { padding: 25px; }
    .ft-cn { padding: 0; }
    .idtq-it img { height: 250px }
    .gttab a { font-size: 12px }
    .gt_5, .gt_2, .gt_3, .gt_4 { height: auto }
    .gttnsm-txt .ellipsis { max-height: 300px; }
    .idvct-slit.active .idvct-it { /* transform: scale(1.25); */ background-color: #da2128; }
        .idvct-slit.active .idvct-it p, .idvct-slit.active .idvct-it a { color: #ffffff; border-color: #ffffff }
        .idvct-slit.active .idvct-it .active { display: inline-block; }
        .idvct-slit.active .idvct-it .inactive { display: none; }
    .ttdssk-title .defTxt2, .ttdsnb-title .defTxt2 { font-size: 20px }
    .idvct-intro .idvct-title { width: 100%; float: initial }
    .idvct-content { width: 100%; float: initial }
}
/* iPhone */
@media (max-width: 767px) {
    .thuvien-it img { height: initial }
	.banner .lSPager.lSpg {bottom:5px}
	.banner .lSSlideOuter .lSPager.lSpg>li a {width:6px; height:6px; border-radius:50%;}
    #aniimated-thumbnials { /* display:block; */ /* margin-bottom:0 */ }
        #aniimated-thumbnials a { display: block; /* margin-bottom: 15px; */ }
            #aniimated-thumbnials a:last-child { margin-bottom: 0px;}
    .idtqtk p { font-size: 20px; }
    .page li:nth-of-type(3) { display: none }
    .page li:last-child { display: inline-block }
    .social a:last-child { display: flex; }
    .register { display: none }
    .idtv-title { margin-bottom: 45px; }
    .idtt-title { margin-bottom: 55px; }
    .hd-top { /* margin-bottom: 0; */ }
    .id-vct, .id-tt, .id-tqtk, .id-dt, .ft-top { background-size: auto 100%; background-position: center; }
    .idqhcd-title { margin-bottom: 60px; }
    .iddatb-general { margin-bottom: 30px; }
    .iddatb-detail { transform: initial; }
    .hd-logo { margin: 0; }
    .tdct-left,
    .tdct-right { width: 100%; float: initial; }
    .tdct-left { margin-bottom: 30px; }
    .tdct-btn a { display: block; margin-bottom: 10px; text-align: center; margin-right: 0; }
        .tdct-btn a:last-child { margin-bottom: 0; }
    .chnn-title .defTxt2 { margin-bottom: 30px; }
    .chnn-frm form { display: block; overflow: hidden; }
    .chnn-frm .form-group { margin-right: 0; margin-bottom: 10px; }
        .chnn-frm .form-group.custom-select:nth-of-type(2) { width: 35%; height: 37px; float: left; }
        .chnn-frm .form-group.custom-select:nth-of-type(3) { width: 63%; height: 37px; float: left; margin-left: 2%; }
    .chnn-table { overflow-x: auto; }
        .chnn-table::-webkit-scrollbar { display: none; }
    .chnn-tbhd, .chnn-it { width: 700px; }
    .tdsn-list { display: block; }
    .tdsn-it { margin-bottom: 20px; }
        .tdsn-it:last-child { margin-bottom: 0; }
    .tdch-list { grid-template-columns: repeat(2, 1fr); }
    .cttt-title h1,
    .tdct-title h1 { font-size: 14px; }
    .tdsn-txt p { font-size: 14px; }
    .ttds-left, .ttds-right { width: 100%; float: initial; }
    .ttds-left, .ttds-sk { margin-bottom: 30px; }
    .ttdsit-it { margin-bottom: 20px; }
        .ttdsit-it:last-child { margin-bottom: 0; }
    .ttdsit-title a { font-size: 14px; }
    .ttdsit-txt h4 { font-size: 15px; margin-bottom: 5px; }
    .ttdsit-list { display: block; }
    .thuvien-it p { height: initial; }
    .idtq-txt { padding: 0 10px 15px; }
    .thamquan-list { display: block; }
    .idtq-it,
    .thuvien-it { margin-bottom: 20px; }
        .idtq-it:last-child,
        .thuvien-it:last-child { margin-bottom: 0; }
    .lienhe-list { display: block; }
    .lienhe-it { padding: 20px 30px; margin-bottom: 20px; }
    .lh-frm-title h4 { font-size: 20px; }
    .lh-frm-title p { font-size: 12px; }
    .lh-frm-dt form { display: block; }
    .lh-frm-dt .form-group { margin-bottom: 15px; }
        .lh-frm-dt .form-group:last-child { margin-bottom: 0; }
    .lh-frm-dt textarea { height: 120px; }
    .gtgtcl-dt { display: block; }
    .gt-tab.fixed { top: 55px; }
    .defTxt2 { font-size: 24px; }
    .gttnsm-dt { gap: 20px; }
        .gttnsm-dt h4 { font-size: 18px; }
        .gttnsm-dt p { font-size: 14px; }
    .gtgtcl-it { margin-bottom: 30px; }
        .gtgtcl-it:last-child { margin-bottom: 0; }
    .gtpf h3 { font-size: 24px; }
    .defCl.gtCl { padding-bottom: 30px; }
    .dand-tab.fixed { top: 50px; padding: 10px; }
    .dand-title h1 { font-size: 18px; }
    .dand-tab { display: block; white-space: nowrap; overflow-x: auto; margin-bottom: 35px; }
        .dand-tab::-webkit-scrollbar { display: none; }
        .dand-tab a { margin-right: 20px; white-space: nowrap; }
            .dand-tab a:hover { color: #000000; }
    .duan-frm form { display: block; text-align: center; }
    .duan-frm label { margin: 0; }
    .du-an-frm .form-group { margin-bottom: 10px; }
        .du-an-frm .form-group:last-child { margin-bottom: 0; }
    .duan-frm input { width: 285px; }
    .thuvien-list { display: block; }
    .duan .thuvien-it { margin-bottom: 25px; }
        .duan .thuvien-it:last-child { margin-bottom: 0; }
    .dadk-title .defTxt span { font-size: 20px; }
    .dadk-frm form { max-width: 100%; }
    .dadk-frm .form-group:nth-of-type(2),
    .dadk-frm .form-group:nth-of-type(3) { width: 100%; }
    .idtt-txt { padding: 20px 15px; }
    .doitac-list { grid-template-columns: repeat(2, 1fr); }
    .defCl { padding: 20px 0; }
    .defTxt { font-size: 14px; }
        .defTxt::before { top: calc(100% + 16px); }
        .defTxt span { font-size: 22px; }
        .defTxt.type2 span { margin-top: 5px; white-space: initial; font-size: 25px; }
    header { padding: 10px; /* position: initial; */ }
        header.fixed { padding: 10px; box-shadow: 0 0 10px rgba(0,0,0,.3); }
    .hd-logo img { height: 35px; }
    .hd-timkiem { padding: 3px 15px; }
        .hd-timkiem button { font-size: 16px; }
    .iddatb-detail { max-width: 100%; }
    .idtt-list { display: block; margin-bottom: 20px; }
    .idtt-it { margin-bottom: 20px; }
        .idtt-it:last-child { margin-bottom: 0; }
    .idtqtk { display: grid; grid-template-columns: repeat(2, 1fr); gap: 30px; }
    .idtq-title { margin-bottom: 60px; }
    .id-tqtk { padding-bottom: 50px; }
    .idqhcd-list { display: block; }
    .idqhcd-it:nth-last-child(2) { border-bottom: 0; }
    .idtv-title a { font-size: 12px; padding: 0 10px; }
    .ft-contact { text-align: center }
    .iddt-it { padding: 15px; }
    .fttop, .ft-dt { display: block; }
        .fttop p { margin-bottom: 5px; }
    .ft-title { margin-bottom: 10px; }
    .ft-infor, .ft-connect { margin-bottom: 25px; }
    .ft-cn { justify-content: center; }
        .ft-cn a { margin-right: 10px; }
    .ft-frm, .ft-frm form { display: inline-flex; }
    .ft-message { right: 10px; bottom: 80px; }
    .ftbottom { padding: 15px 0; line-height: 1.5; }
    .id-datb .navi a,
    .id-tq .navi a,
    .id-tv .navi a,
    .id-dt .navi a,
    .da-tin-list .navi a { display: none; }
    .idtv-type { transform: translateY(30px) }
    .idqhcd-it { padding: 15px 5px }
        .idqhcd-it p { font-size: 14px }
    .social a { box-shadow: 0 0 10px rgba(0,0,0,.15); }
    #aniimated-thumbnials { display: block }
        #aniimated-thumbnials a { margin-bottom: 15px }
    .popup-vd .ifr-tv iframe { height: 300px }
    .custom-select:after { width: 22px }
    .custom-select:before { display: none }
    .chnn-frm select { padding-left: 0 }
    .idvct-it { width: 240px; height: 240px; padding: 25px 40px 30px; }
        .idvct-it img { margin-bottom: 0; }
    .idvct-it-img { margin-bottom: 8px; }
    .idvct-it h3 { font-size: 14px; margin-bottom: 5px }
    .idvct-it p { font-size: 13px; margin-bottom: 10px }
    .idtt-list { display: block; overflow: hidden; margin: 0 }
        .idtt-list .idtt-it { width: 100%; margin: 0px; float: initial; margin-bottom: 15px }
    .ttdsit-txt .ellipsis { max-height: 44px; overflow: hidden; }
}

@media (max-width: 330px) {
    .dand-it { padding-top: 55px }
        .dand-it h2:first-child { font-size: 32px }
}
